# requirements.txt

yt-dlp==2025.6.9
moviepy==2.2.1
ffmpeg-python==0.2.0
faster-whisper==1.1.1
python-dotenv==1.1.0
openai==1.86.0
requests==2.32.4
selenium==4.33.0
google-api-python-client==2.172.0
google-auth==2.40.3
google-auth-oauthlib==1.2.2
schedule==1.2.1
bs4==0.0.2
